
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

testoutput

# ignore test ts because of some hard coded stuff, just used to wire up the proof of concept bits
/src/test.ts

**/build

.compose.env

tsconfig.tsbuildinfo

robster-image-timestamp-test/
robster-images-for-s3/
robster-images-webp/
robster-images/